In [10]:
import pandas as pd
from translate import Translator
translator = Translator(to_lang='pt')

In [9]:
df = pd.read_csv("C:/Users/cedua/CDIA - PUCSP/PROJETO PySpark - SAVINO/Contador-de-palavras---PySpark/collecting_data/Twitter/en_data/twitter_en_data.csv", sep=';')
df = df.drop([4,3,7,9,12,13])
df.head(15)

   twitter_text_data_EN  count
0              crossfit   2813
1                  whey   2441
2               protein   1266
5               fitness    447
6                   gym    377
8               workout    319
10               powder    230
11                today    224
14                  day    213
15                  one    208
16            nutrition    206
17                games    206
18                  new    195
19             training    192
20                  dey    191