In [1]:
import pandas as pd

- remover linha 1,7,11

In [18]:
df = pd.read_csv("C:\\Users\\cedua\\CDIA - PUCSP\\PROJETO PySpark - SAVINO\\Contador-de-palavras---PySpark\\collecting_data\\Twitter\\pt_data\\twitter_pt_data.csv", sep=';')
df = df.drop([1,7,11])
df.head(15)

   twitter_text_data_PT  count
0                treino   2103
2                  hoje    417
3              crossfit    205
4              academia    183
5                   dia    166
6                  whey    136
8                  jogo    120
9                 fazer    112
10               contra    111
12                agora    104
13             primeiro    102
14                  ser    101
15                  vou    100
16                  vai     98
17                  pós     98